@font-face {
	font-family: 'Gotham';
	src: url('../font/GothamLight.ttf')
}

*{
	padding: 0;
	margin: top 50%;
	list-style: none;
	text-decoration: none;
	font-family: 'Gotham';
}

.connexionView{
	position: relative;
    color: white;
    font-family: 'Gotham';
    margin: left 225px;
    margin-bottom: 15px;

}

.logo {
    width: 200px; /* limite la largeur maximale de l'image à la largeur de la sidebar */
    padding: 10px;
    background-color: #121212;
	border-color: #121212;
}

.ajt{
	background-color: aqua;
}
