@font-face {
	font-family: 'Gotham';
	src: url('../font/GothamLight.ttf')
}

*{
	padding: 0;
	margin: top 50%;
	list-style: none;
	text-decoration: none;
	font-family: 'Gotham';
    background-color: #1a1a1a;
}

.connexionView{
	position: relative;
    color: white;
    font-family: 'Gotham';
    margin: left 225px;
    background-color: #121212;
    margin-bottom: 15px;

}


