@font-face {
	font-family: 'Gotham';
	src: url('../font/GothamLight.ttf')
}

@font-face {
	font-family: 'GothamBold';
	src: url('../font/GothamBold.ttf')
}

.searchView{
    position: fixed;
    background-color: #1a1a1a;
    font-family: 'GothamLight';
    top: 0;
    right: 0%;
    left: 225px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow: auto;
}