.bar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 225px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}